<!DOCTYPE html>
<html lang="en">
<head>
  <title>API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lavender;">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"></div>
    <div class="col-sm-4" style="background-color:lavender;"><br>
      <div>
      <h3 style="text-align:center; color:darkslateblue">Add new Customer</h3><br>
      <input type="name" class="form-control" id="name" placeholder="Name"><br>
      <input type="age" class="form-control" id="age" placeholder="Age"><br>
      <input type="email" class="form-control" id="email" placeholder="Email"><br><br>
      <center><input type="submit" class="btn btn-info" value="Submit"></center>
      </div>
      <br><br>
      <div>
          <table class="table table-bordered" style="background-color:cornsilk;">
              <thead>
                <tr>
                  <th>ID</th> 
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>mary@example.com</td>
                </tr>
              </thread>
              </table>
      </div>
    </div>
    <div class="col-sm-4" style="background-color:lavender;"></div>
  </div>
</div>

</body>
</html>

